body{
    text-align: center;
    background: rgb(89, 205, 207);
/*background: radial-gradient(circle, rgba(34,195,197,0) 0%, rgba(34,193,195,1) 100%, rgba(45,253,244,0) 100%); */
font-family: 'Roboto', sans-serif;
}

.titlegmares{
    height: 50%;
    width: 50%;
}

.mytab{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin: 20px;
    max-width: 200%;

}

.mytab input[type="radio"] {
    display: none;
}

.mytab label{
    padding: 10px;
    background: rgb(216, 244, 255);
    font-weight: bold;
    border-radius: 5px;
    margin: 10px;
}

.mytab .tab{
    width: 100%;
    padding: 20px;
    background: rgb(216, 244, 255);
    order: 1;
    border-radius: 10px;
    display: none;
}

.mytab input[type='radio']:checked + label + .tab {
    display: block;
}

.gamemodesid{
    font-weight: 100;
    text-decoration: solid;
}

.listid{
    text-align: justify;
}